project:
  type: book

book:
  title: "CASA0023: Learning Diary"
  author: "Sam Mize"
  date: "1/20/2026"
  chapters:
    - index.qmd
    - week1.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme:
      - cosmo
      - brand
  pdf:
    documentclass: scrreprt

editor: visual

